<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="meta">
            {{user.username}} on {{format_date created_at}}
            {{user_id}} and {{session_id}}
        </div>
        <div class="text">
            {{comment_text}}
        </div>
        <div>
            <button>Edit</button> 
            <button>Delete</button>
        </div>
    </section>
    {{/each}}
</div>

<div>
    Here: {{comments.session_id}} and {{#if loggedIn}} wah{{/if}}
</div> 
