<article class="post">
    <div class="title">
        <a href="/post/{{id}}">
        <h3> {{blog_title}} <span> Posted by {{user.username}} on {{format_date created_at}} </span> </h3>
        <p>{{blog_text}}</p>
        </a>
    </div>
</article>