<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Your Blog
  </h2>
  <form class="edit-post-form">
    <div>
        <label>Title</label>
        <input name="blog-title" type="text" value="{{post.blog_title}}" />
        <label>Blog</label>
        <textarea type="text" name="blog-text">{{post.blog_text}}</textarea>
    </div>
    <div>
      Created on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit">Save blog</button>
    <button type="button" class="delete-post-btn">Delete blog</button>
  </form>
</article>

{{#if post.comments.length}}
<h3>Comments</h3>
{{> comments post.comments}}
{{/if}}

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>